Editor/Connected Services/LexerService/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringETokenTypeyG81JSvh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringETokenTypeyG81JSvh" type="tns:KeyValuePairOfstringETokenTypeyG81JSvh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringETokenTypeyG81JSvh" nillable="true" type="tns:ArrayOfKeyValuePairOfstringETokenTypeyG81JSvh" />
  <xs:complexType name="KeyValuePairOfstringETokenTypeyG81JSvh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ETokenType" Namespace="http://schemas.datacontract.org/2004/07/Services" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" name="value" type="q1:ETokenType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringETokenTypeyG81JSvh" nillable="true" type="tns:KeyValuePairOfstringETokenTypeyG81JSvh" />
</xs:schema>